.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: calc(var(--spacingLarge));
}

.subHeadline {
  font-size: var(--font-size-subHead);
  color: var(--primary-color);
  font-weight: var(--font-semibold);
  line-height: var(--line-height-lg);
  margin-bottom: var(--spacing6);
  text-align: center;
  word-spacing: 1px;
  max-width: 900px;
}

.titleAccent {
  color: var(--text-color-tertiary);
  margin: 0 6px;
}

.subtitle {
  font-weight: var(--font-regular);
  font-size: var(--font-size-subTitle);
  color: var(--text-color-tertiary);
  line-height: var(--line-height-sm);
  max-width: 980px;
  text-align: center;
  margin-bottom: var(--spacing6);
}

.productSlider {
    padding-left: calc(40px + (100 - 40) * ((100vw - 360px) / (1800 - 360)));
}


@media screen and (max-width:1024px) {
   .subHeadline {
        font-size: var(--text-4xl);
        line-height: var(--line-height-md);
        margin-bottom: var(--spacing4);
       }

       .subtitle{
                font-size: var(--text-lg);
        line-height: var(--line-height-sm);
        max-width: 500px;
            margin-bottom: var(--spacing4);
       }
}

@media screen and (max-width:767px) {
    .productSlider {
        padding-left:0;
    }
  .wrapper{
    padding-top: var(--spacing8);
  }
    .subHeadline {
        font-size: var(--text-2xl);
        line-height: var(--line-height-md);
        margin-bottom: var(--spacing4);
         max-width: 400px;
       }

       .subtitle{
                font-size: var(--text-md);
        line-height: var(--line-height-sm);
        max-width: 400px;
            margin-bottom: var(--spacing4);
       }
}