.mainWrapper{
    min-height: 100vh;
    background-color: var(--secondary-color);
    padding: var(--spacingLarge) 0;
    position: relative;
}

@media screen and (max-width:1024px) {
    .mainWrapper{
        padding: var(--spacing6) 0;
    }
}