
.image{
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.blueShape {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 36%;
  left: 10%;
}

.redShape {
 position: absolute;
  width: 25px;
  height: 25px;
  top: 39%;
  right: 10%;

}


@media screen and (max-width:1024px) {
  .redShape{
    top: 38%;
    right: 6%;
  }

  .blueShape{
    top: 30%;
    left: 6%;
  }
}

@media screen and (max-width:576px) {
  .redShape{
    top: 40%;
  }

  .blueShape{
    top: 30%;
  }
}