
.image{
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.blueShape {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 36%;
  left: 10%;
}

.redShape {
 position: absolute;
  width: 25px;
  height: 25px;
  top: 39%;
  right: 10%;

}
