.productCard {
  position: relative;
  width: calc(250px + (600 - 250) * ((100vw - 360px) / (1800 - 360)));
  aspect-ratio: 6 / 7;
  padding: var(--spacing3);
  background-color: var(--tertiary-color);
  box-shadow: var(--card-shadow);
  border-radius: var(--border-radius-sm);
}

.productImg {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}

.imgVariant1 {
  right: 0;
}

.imgVariant2 {
  left: 13%;
}

.imgVariant3 {
  left: 0%;
}

.productTitle {
  font-family: var(--secondary-font);
  font-weight: var(--font-bold);
  font-size: var(--font-size-caption);
  color: var(--text-color-primary);
  text-align: left;
  padding: var(--spacing4);
}


@media screen and (max-width:1600px) {
    .productCard{
             aspect-ratio: 2/3;
    }
}

@media screen and (max-width: 1024px) {
    .productTitle{
          font-size: var(--text-3xl);
    }

     .productCard{
             aspect-ratio: 0.65;
    }
}

@media screen and (max-width:767px) {
    .productCard{
        width: 80%;
    }

      .productTitle{
          font-size: var(--text-xl);
    }
    
     .productCard{
             aspect-ratio: 0.6;
    }
}

@media screen and (max-width:576px) {
      .productCard{
        width: 90%;
    }
}